/* ================= HISTORIQUE ================= */

#historique {
    background: white;
    padding: 20px;
    margin: 25px auto;
    width: 700px;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Tableau */

.table-historique {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 14px;
}

/* Header */

.table-historique th {
    background-color: #1e3a5f;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Lignes */

.table-historique td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
}

/* Hover */

.table-historique tr:hover {
    background-color: #f5f7fb;
}

/* Bouton charger */

.table-historique button {
    padding: 5px 12px;
    font-size: 13px;
    background-color: #26486b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.table-historique button:hover {
    background-color: #3b5f86;
}

/* Couleurs résultat */

.resultat-rouge {
    color: #d62828;
    font-weight: bold;
}

.resultat-jaune {
    color: #f1b000;
    font-weight: bold;
}

.resultat-nul {
    color: gray;
    font-weight: bold;
}